<h1>Todo List</h1>

<ul class="card">
<% @todos.each do |todo| %>
  <li>
    <input type="checkbox" name=""/>
   <a href="/todo/show/<%= todo.id %>"><%= todo.description %></a>
    <span class="pomodoro-estimate small-pomodoro-estimate"><%= todo.pomodoro_estimate %></span>
  </li>
<% end %>
</ul>
<div id="new-todo-block">
<a href="/todo/new" class="button add-new-todo-button" id="add-new-todo-button">Add a todo</a>
</div>

<div id="new-todo-block">
  <input class="text-input" id="new-todo-description" type="text" placeholder="Add a New Book Request...">
  <input class="text-input" id="new-pomodoro-estimate" type="number" placeholder=" Time Period Needed For ...">
  <input class="button" id="add-new-todo-button" type="submit" value="Add todo">
</div>

